.Header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--color-background-dim);
  z-index: 1;
  min-height: 60px;
  box-shadow: var(--shadow-navbar);

  .User {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
